﻿body {
    margin: 0;
    text-align: center;
    font-family: Aria;
}

#testingSection {
    display: inline-block;
    width: 20rem;
    margin-top: 6rem;
    padding: 1rem;
    background-color: #ddd;
}

.input-data {
    width: 100%;
}

.output-data {
    min-height: 5rem;
    background-color: #a22;
    color: #eee;
    margin-top:1rem;
}

input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='submit'] {
    background-color: #824;
    color: #eee;
    outline:none;
    border:none;
}
