﻿html, body {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

#actionSection {
    text-align: center;
    margin: auto;
    margin-top: 15rem;
}

div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    padding: .25rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 10rem;
    -moz-transition: margin ease-in .2s;
    -o-transition: margin ease-in .2s;
    -webkit-transition: margin ease-in .2s;
    transition: margin ease-in .2s;
}

.red {
    background-color: #d44;
    color: #eee;
}

.green {
    background-color: #282;
    color: #eee;
}

.blue {
    background-color: #227;
    color: #eee;
}

.black {
    background-color: #111;
    -moz-transition: background-color ease-out .3s;
    -o-transition: background-color ease-out .3s;
    -webkit-transition: background-color ease-out .3s;
    transition: background-color ease-out .3s;
}

.insider {
    height: 3rem;
    width: 3rem;
    background-color: orange;
    color: #111;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

    .insider:hover {
        background-color: red;
        -moz-transition: color ease-in .3s;
        -o-transition: color ease-in .3s;
        -webkit-transition: color ease-in .3s;
        transition: color ease-in .3s;
    }

.extra-large {
    font-size: 3rem;
    padding: 1rem;
    background-color: #128;
    border-radius: 5px;
    color: #eee;
    outline: none;
    border: none;
    margin:10rem;
    -moz-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
}
