body {
    font-family: Arial;
    text-align: center;
}

form {
    border: 1px dotted black;
    display: inline-block;
    margin-top:.5rem;
    text-align:left;
    padding:.5rem;
}

input, textarea {
    display:block;
    margin:.5rem;
}

input[type='radio'] {
    display:inline;
}

input[type='radio']: checked+label {
    color:red;
}
