.container {
    width:100%;
    background-color:#111;
}

.child-elem {
    width:6rem;
    height:6rem;
    border: 1px dotted #362;
    background-color:#822;
}

.first-last {
    position:relative;
    top:2rem;
}

div {
    display: inline-block;
}

.child-elem div {
    width:30px;
    height:30px;
    background-color:#125;
    position:absolute;
    bottom:0;
    right:0;
}

div:hover {
    background-color:#829;
}

div:nth-child(2n+1) {
    height:10rem;
}