body {
    text-align: center;
    font-family:Arial;
}

div {
    display:inline-block;
    margin-top:10rem;
}

a {
    text-decoration: none;
    position:relative;
}

a:hover::after {
    content:attr(href);
    position:absolute;
    bottom:2rem;
    left:0;
    color:#eee;
    background-color: #111;
    padding:.5rem;
    border-radius:10px;
}

a:hover::before {
    content:'';
    position:absolute;
    bottom:.75rem;
    left:1.5rem;
    border: 10px solid transparent;
    border-top: 10px solid #111;
}

a {
    border-top:10px solid red;
    border-bottom: 10px solid blue;
    border-left: 10px solid green;
    border-right:10px solid pink;
}