﻿<table id="Plan zajęć">
    <thead>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="tabela.css" />
        <tr>
            <th colspan="4">ROZKŁAD ZAJĘĆ</th>
        </tr>
        <tr>
            <th>Dzień tygodnia</th>
            <th>Moduł zajęć</th>
            <th>Godziny zajęć</th>
            <th>Suma godzin</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Poniedziałek</td>
            <td rowspan="2">HTML5</td>
            <td>17.30-21.00</td>
            <td>3,5</td>
        </tr>
        
        <tr>
            <td>Wtorek</td>
            <td>17.30-21.00</td>
            <td>3,5</td>
        </tr>
        
        <tr>
            <td>Środa</td>
	    <td rowspan="2">CSS3</td>
            <td>17.30-21.00</td>
            <td>3,5</td>
        </tr>
        
        <tr>
            <td>Czwartek</td>
            <td>17.30-21.00</td>
            <td>3,5</td>
        </tr>
        
        <tr>
            <td>Sobota</td>
            <td>JavaScript</td>
            <td>9.00-16.00</td>
            <td>7</td>
        </tr>
        
        <tr>
            <td colspan="3" style="text-align:center;">sumaryczna ilość godzin w tygodniu</td>
            <td>21</td>
           
        </tr>
    </tbody>
</table>
        
      
        