body {
    font-family:Arial;
text-align: center;
margin:5rem;
}

div {
    display:inline-block;
    border-radius: 5mm;
    padding: .9rem;
    background-color: cornsilk;
    width: 400px;
    height: 250px;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 50px;
    }
#name {
  margin-top: 3.0rem;
  }