﻿.container {
    padding:1rem;
    margin:1rem;
    border:1px dotted black;
}

div:not(.container) {
    background-color: black;
    border: 1px solid gray;
    color:white;
    padding:1rem;
}

.block {
    display:block;
}

.inline {
    display:inline;
}

.inline-block {
    display:inline-block;
}

.flex-container {
    display:flex;
}
