﻿
input,select,textarea,label {
    display:block;
}

label:not(:first-of-type) {
    margin-top:1rem;
}

form {
    display:inline-block;
    margin-top:5rem;
    border:1px dotted black;
    padding:2rem;
    text-align:left;
}

body {
    text-align:center;
}