﻿
td, th {
    border: 1px dotted black;
    padding: .5rem;
}

th {
    background-color: #ccc;
}

td {
    background-color: #fcc;
}

table {
    border: 1px dashed black;
    display:inline-block;
    margin-top:5rem;
}

body {
    text-align:center;
}