@mixin border-radius($radius: 15px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {
  @include border-radius;
}
.box-2 {
  @include border-radius(24px);
}
.box-3 {
  @include border-radius(30px);
}

%message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend %message;
  border-color: green;
}

.error {
  @extend %message;
  border-color: red;
}

// button {
//   color: black;
//   &:hover {
//     color: blue;
//   }
// }

button {
  color: black;
  .disabled & {
    color: gray;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: ($i / 12) * 100%;
  }
}
