html, body {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

#navigation {
    display: inline-block;
    position:fixed;
    top:0;
    left:-25rem;
    width:25rem;
    height:100%;
    background-color:#111;
    transition: left ease-in .4s;
}

#navigation.active {
    left:0;
    transition: left ease-in .4s;
}

#menuButton {
    position:fixed;
    top:0;
    left:0;
}

input[type='text'] {
    margin:3rem;
}

.invalid {
    outline: 3px solid red;
}