
body {
    font-family:Arial;
    margin:0;
}

#container {
    width: 100vh;
    background-color: aqua;
    height: 100px;
}

div {
    display:inline-block;
    vertical-align:top;
    color:#eee;
    padding:3rem;
}

.absolute {
    position: absolute;
    top:7rem;
    left:7rem;
    background-color: #838;
}

.relative {
    position: relative;
    top:1rem;
    left:1rem;
    background-color: #336;
}

.fixed {
    position: fixed;
    top:0;
    right:0;
    background-color: #a33;
}

.static {
    position:static;
    top:2rem;
    left:2rem;
    background-color:#383;
}

.enforce-overflow {
    height:1000px;
}

