.p-big {
  font-size: $font-size-big;
  line-height: $font-size-big * $line-height-scale;
}

.p-med {
  font-size: $font-size-med;
  line-height: $font-size-med * $line-height-scale;
}

.p-small {
  font-size: $font-size-small;
  line-height: $font-size-small * $line-height-scale;
}
