@import 'variables';
@import 'paragraphs';
@import 'components/components';
@import 'pages/pages';

body {
  color: white;
  background: $color-green;
}

header {
  nav {
    background: red;
    ul {
      background: orange;
      li {
        background: yellow;
        a,
        button {
          color: white;
        }
      }
    }
  }
}

