.p-big {
  font-size: 34px;
  line-height: 51px; }

.p-med {
  font-size: 24px;
  line-height: 36px; }

.p-small {
  font-size: 12px;
  line-height: 18px; }

body {
  color: white;
  background: #65c26b; }

header nav {
  background: red; }
  header nav ul {
    background: orange; }
    header nav ul li {
      background: yellow; }
      header nav ul li a,
      header nav ul li button {
        color: white; }

/*# sourceMappingURL=screen.css.map */
