.button {
   -fx-border-radius: 10px;
   -fx-border-color: black;
}

.leftButton {
  -fx-background-color: #ffa500;
  -fx-border: 2px;
  -fx-border-color: black;
  -fx-border-radius: 10px;
}
.toplabel {
  -fx-border-radius: 5px;
  -fx-background: #87cefa;
}