﻿body {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

    body > header {
        width: 100%;
        background-color: #000;
        color: #eee;
    }

        body > header h2, h3 {
            display: inline-block;
            padding-left: 3rem;
        }

        body > header nav {
            display: block;
            padding: 0;
            background-color: #666;
        }

        body > header a {
            display: inline-block;
            padding: 1rem;
            text-decoration: none;
            color: #ddd;
        }

            body > header a:first-of-type {
                margin-left: 3rem;
            }

            body > header a:hover {
                background-color: #000;
                color: #fff;
                -moz-transition: ease-in .3s;
                -o-transition: ease-in .3s;
                -webkit-transition: ease-in .3s;
                transition: ease-in .3s;
            }

    body > footer {
        background-color: #000;
        color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: .7rem;
        padding: .15rem;
    }

#descriptionSection {
    margin: 5vw;
    background-color: #ddd;
    color: #222;
    padding: 2rem;
    position: relative;
    padding-bottom: 5rem;
}

    #descriptionSection > a {
        text-decoration: none;
        display: inline-block;
        background-color: #182;
        color: #eee;
        padding: 1rem;
        border-radius: .2rem;
        float: right;
    }

#mainSection {
    width: 90vw;
    margin-left: 5vw;
    text-align:center;
}

    #mainSection > article {
        width: 45%;
        vertical-align: top;
        display: inline-block;
        background-color: #ddd;
    }

        #mainSection > article > header {
            width: 100%;
            background-color: #666;
            color: #ddd;
            padding: 1rem;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align:left;
        }

        #mainSection > article p {
            width: 75%;
            text-align: justify;
            text-indent: 2rem;
            padding: 1rem;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: inline-block;
        }

        #mainSection > article aside {
            width: 20%;
            background-color: #eee;
            display: inline-block;
            vertical-align: top;
            float: right;
            padding: .5rem;
            font-size:.8rem;
            margin:.4rem;
        }

        #mainSection > article footer {
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding:1rem;
            text-align:right;
            background-color:#eee;
        }

        #mainSection > article:first-of-type {
            margin-right: 2%;
        }

        #mainSection > article:last-of-type {
            margin-left:2%;
        }
