#plansza {
	width: 500px;
	height: 500px;
}

.plytka {
	width: 10%;
	height: 10%;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #010101;
}

.plytka.apple {
	background: url(apple3.jpg) no-repeat center center;
	background-size: cover;
}

.plytka.snake {
	background: #000;
}