.container {
    width:100%;
    background-color:#111;
}

div {
    display:inline-block;
}

.child-elem {
    width:6rem;
    height:6rem;
    border: 1px dotted #362;
    background-color:#822;
    position:relative;
}

.first-last {
    position:relative;
    top:2rem;
}

.child-elem div {
    width: 30px;
    height: 30px;
    background-color:#125;
    position:absolute;
    bottom:0;
    right:0;
}

div:hover {
    background-color:#829 !important;
}

/*wszystko poniżej dla drugiego kontenera*/
div:nth-child(2n+1) {
    height:10rem !important;
} 

div:first-child {
    width:15rem;
}

div:last-child {
    height: 20rem;
}

.container div:not(:last-child) {
    background-color:pink;
}

.container .child-elem:last-child::after {
    content:'AFTER';
    display:inline-block;
    height:20px;
    background-color:red;
}

.container .child-elem:last-child::before {
    content:'BEFORE LOL';
    display:inline-block;
    height:20px;
    background-color:purple;
}