﻿body {
    margin:5rem;
    font-family:Arial;
    font-weight:900;
}

.no-list {
    list-style-type:none;
}

a {
    display: inline-block;
    background-color: #484;
    color: #eee;
    padding: .5rem;
    text-decoration:none;
    margin:.5rem;
}

ul{
    display:inline-block;
    vertical-align:top;
}

li:nth-child(2n+1){
    color:#d55;
}

li:first-child {
    color:#848;
}

li:last-child {
    color:#484;
}

li:only-child {
    color:#f60;
}

li:empty {
    color:#666;
    background-color:#666;
}

a:not([href='http://google.com']) {
    background-color: #115;
}

a:hover{
    background-color:#111;
}

input[type='checkbox']:checked + label {
    color:#833;
    text-decoration:line-through;
}

input[type='radio']:checked:before {
    content:'!';
    background-color:red;
    padding:1rem;
    border-radius:1.5rem;
    position:relative;
    top:2rem;
}