<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Example </title>

    <script type="text/plain" src="/resources/js/jquery-3.1.0.min.js"
            th:src="@{/resources/js/jquery-3.1.0.min.js}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

<body>


<div th:replace="fragments/header :: 'header'"></div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/addHotel.html">Add Hotel</a></li>
                <li><a href="/addTour.html">Add Tour</a></li>
                <li><a href="/tourList.html">List of Tours</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Log out!</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <h2>
        New Hotel
    </h2>

    <form th:action="@{/addHotel}" th:object="${hotel}" method="post" class="form-horizontal">

        <div class="controls">
            <label class="control-label">Name</label>
            <input type="text" th:field="*{name}"/>
            <span class="help-inline" th:errors="*{name}">[error]</span>
        </div>
        <div class="controls">
            <label class="control-label">URL</label>
            <input type="text" th:field="*{url}"/>
            <span class="help-inline" th:errors="*{url}">[error]</span>
        </div>

        <div class="form-actions">
            <button type="submit">Add Hotel</button>
        </div>
    </form>
</div>

<table th:replace="fragments/footer :: footer" class="footer">

</table>

</body>
</html>
